<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/bootstrap.min.css"  th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
<div class="container">
<form action="#" th:action="@{/savequestion}" th:object="${post}" method="post">
    <table>
        <tr>
            <td>Question</td>
            <td><input type="text" th:field="${questions.question}" /></td>

        </tr>
        <tr>
            <td>Option 1</td>
            <td><input type="text" th:field="${questions.option1}" /></td>
        </tr>
        <tr>
            <td>Option 2</td>
            <td><input type="text" th:field="${questions.option2}" /></td>
        </tr>
        <tr>
            <td>Option 3</td>
            <td><input type="text" th:field="${questions.option3}" /></td>
        </tr>
        <tr>
            <td>Option 4</td>
            <td><input type="text" th:field="${questions.option4}" /></td>
        </tr>
        <tr>
            <td>Correct Answer</td>
            <td><input type="text" th:field="${questions.correctAnswer}" /></td>
        </tr>
        <tr>
            <td>Marks</td>
            <td><input type="text" th:field="${questions.marks}" /></td>
        </tr>
        <tr>
            <td><button type="submit">Submit post</button></td>
            <td><button type="reset">Reset Form</button></td>
        </tr>
    </table>
</form>
</div>
<script src="/resources/js/bootstrap.mini.js"></script>
</body>
</html>
