<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/bootstrap.min.css"  th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Add True/False Question</h2>
        <form action="#" th:action="@{/savetf}" th:object="${post}" method="post" class="form-horizontal">

            <div class="form-group">
                <label>Question : </label>
                <input type="text" required  th:field="${questions.question}" class="form-control"/>
            </div>
            <div class="form-group">
                <label>a)</label>
                <input type="text" value="True" disabled/>
            </div>
            <div class="form-group">
                <label>b)</label>
                <input type="text" value="False" disabled/>
            </div>
            <div class="form-group">
                <label>Correct Answer : </label>
                <select th:field="${questions.correctAnswer}" name="cars" class="form-control">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </div>
            <div class="form-group">
                <label >Marks : </label>
                <input type="number" required min = 0 th:field="${questions.marks}" class="form-control"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Add Question</button>
                <button type="reset" class="btn btn-info">Reset Fields</button>
            </div>
        </form>
        </div>
    </div>
</div>
<script src="/resources/js/bootstrap.mini.js"></script>
</body>
</html>
