<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <h1 align="center">Quiz </h1>
            <table th:each="question : ${questions}" class="table table-bordered table-hover" >
                    <tr>
                        <th colspan="2" th:text = "'Question : ' + ${question.statement}"> </th>
                    </tr>
                    <tr >
                        <td th:if="${question.option1} != null and ${question.option1} != ''" th:text="'(a)'+${question.option1}"></td>
                        <td th:if="${question.option2} != null and ${question.option2} != ''" th:text="'(b)'+${question.option2}"></td>
                    </tr>
                    <tr >
                        <td th:if="${question.option3} != null and ${question.option3} != '' " th:text="'(c)'+${question.option3}"></td>
                        <td th:if="${question.option4} != null and ${question.option4} != ''" th:text="'(d)'+${question.option4}"></td>
                    </tr>
                    <tr>
                        <td><b>Answer</b></td>
                        <td><input type="text" th:field="${answers}"class="answer form-control"></td>
                    </tr>
                    <tr>
                        <td colspan="2" th:text = "'Marks : ' + ${question.marks}"> </td>
                    </tr>
                </table>
                <button id="go" class="btn btn-success">Submit</button>

            <a href="/">Go to Home page</a>
        </div>
    </div>
</div>
<script th:inline = "javascript">

    document.getElementById("go").onclick = function(){
        var classesNodeList = document.querySelectorAll(".answer");
        values = [];
        for(var i = 0; i < classesNodeList.length; i++) {
        values.push(classesNodeList[i].value);
        }
        var answer = [[${questions}]]
        num =0;
        maxnum =0;
        var report = ""
        for( var i=0; i < values.length ; i++)
        {
            console.log(answer[i].correctAnswer + "< > " + values[i])
            if(answer[i].answer == values[i]){
                report = report + "Question " +(i+1)+ "is Correct\n"
                num = num + answer[i].marks;
            }else{
                report = report + "Question " +(i+1)+ "is Wrong\n"
            }
            maxnum = maxnum + answer[i].marks;
        }
        report = report + "Total Marks = " + num + " Out of " + maxnum
        alert(report)
        console.log("Total Number = "+ num )
        window.location = '/saveMarks?total=' + num+'&max='+maxnum;
    }

</script>
</body>
</html>