<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../css/bootstrap.min.css"  th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
    <h2>Question Type Selection</h2>
    <p>Select Type of Question </p>
    <form action = "/selectType" >
        <div class="form-group">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <label class="radio-inline"><input type="radio" value="1" name="optradio"> MCQ</label>
                </li>
                <li class="list-group-item list-group-item-success">
                    <label class="radio-inline"><input type="radio" value="2" name="optradio"> True / False</label>
                </li>
                <li class="list-group-item list-group-item-warning">
                    <label class="radio-inline"><input type="radio" value="3" name="optradio"> Simple Text Base Answer</label>
                </li>
            </ul>
        </div>
            <input type="submit" class="btn btn-info" value="Next">
    </form>
        </div>
    </div>
</div>
<script src="/resources/js/bootstrap.mini.js"></script>
</body>
</html>
